@import "tailwindcss";

:root {
  --color-background: #ececec;
}

body {
  background-color: var(--color-background);
}

header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  padding: 8px 16px 8px 16px;
  align-items: center;
}

main {
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

h1 {
  font-size: 2.25rem;
  font-weight: 800;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

a {
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 1px;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  background-color: black;
  color: white;
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

button:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.fade-in-and-slide {
  animation: fadeInAndSlideUp 0.2s ease-in-out;
}

@keyframes fadeInAndSlideUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.no-drag {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

/* minimalist scrollbar styles */

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #666;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

/* firefox scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
}